<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/app.js"></script>
</head>
<header>{{>header}}</header>
<body>
<div class="container">
    <h2>{{title}}</h2>
    <p>This site was created by {{title}}</p>
</div>
</body>
<footer>
    {{>footer}}
</footer>
</html>
